body {
    
    background-image: url('../img/fundo.jpg');
    background-size: 100%;
    background-repeat: repeat-y;
    background-position: center;    
}
p {
    color: #ffff;
    font-size: 20px;    
    text-align:center;
}


#menu {
    margin-top: 20px;
   
    border-radius: 2px;
    margin-bottom: 80px;
}

#menu ul {
    text-align: center;
    list-style: none;
}

#menu ul li {
    display: inline;
}


#menu ul li a {
    
    padding: 12px 10px;        
    font-size: 22px;    

    background-color: rgba(0,0,0, 0.75);
    color: #fff;
    text-decoration: none;
   
    border-radius: 5px;   

}

#menu ul li a:hover {
    
    background-color: #000;
    color: forestgreen;
    /* border-bottom: 3px solid #fff; */
}


#cardapio {
    display: flex;
    flex-direction: row;
    justify-content: center;       
}

#cardapio img {
    padding: 5px;
    width: 360px;
    height: 220px;
    border-radius: 50px;

}
#item {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;

    background-color: rgba(0,0,0, 0.85);
    margin: 10px;
    border-radius: 5px;
    padding:20px;
}

#item p {
    font-size: 14px;
}

#item button {
    background-color: forestgreen;
    padding:10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;    
}

#item button:hover {
    background-color:green;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;       
}


#container img {
    padding: 5px;
    width: 360px;
    height: 220px;
    border-radius: 50px;

}

#about {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;

    background-color: rgba(0,0,0, 0.85);
    margin: 10px;
    border-radius: 5px;
    padding:20px;
}



#about h1 {
    font-style: italic;
}

#about p {    
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: justify;
}

#body-about {
    display: flex;
    flex-direction: row;    
}
#rodape {
    position: absolute;
    padding:1px;
    
    right: 44%;
    
    
    margin-top: 20px;
    
    border: 100px;
    
    
    
    
}
#cabecalho{
    position: absolute; left: 7px; top: 8px;
    padding:1px;
    
    
    
    
    border: 100px;
    


}
#empresa{

    position: absolute; left: 115px; top: -1px;
    font-size: 12px;
    
    
    

}
#empresa h2{

    text-shadow: 0 0 4px #000;
    color: #fff;
    background-color: rgba(0,0,0, 0.50);
}
